* {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    --primary-color: rgb(55, 211, 250);
    --light-gray-color: rgb(156, 163, 169);
    --modal-background: rgba(0, 0, 0, .8);
    --off-white: rgb(230, 230, 230);
    --black: rgb(32, 35, 42);
}

html, body {
    margin: 0;
    font-size: 10px;
    height: 100%;
    width: 100%;
}

.header-container {
    width: 100%;
    height: 12%;
    display: flex;
    position: relative;
    background-color: var(--black);
}

.main-body-container {
    height: 88%;
    width: 100%;
    overflow-y: scroll;
    position: relative;
}

/* ---------  HEADER BAR - LEFT SIDE  --------------- */

.header-left {
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-name {
    font-size: 3rem;
    letter-spacing: .5rem;
    color: var(--primary-color);
    margin-left: 2rem;
    margin: 0;
    margin-left: 2rem;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: .1rem;
}

/* ---------  HEADER BAR - RIGHT SIDE  --------------- */

.header-right {
    width: 10%;
    display: flex;
    justify-content: flex-end;
    opacity: 1;
}

.header-navigation {
    display: none;
}

.nav-list-item {
    height: 100%;
    font-size: 2rem;
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;
    padding: 0 .5em;
}

.nav-link:hover {
    color: var(--primary-color);
}

.flyout-link:hover {
    color: var(--black);
}

.menu-icon-container {
    display: flex;
    align-items: center;
}

.menu-icon {
    height: 3em;
    width: 3em;
    cursor: pointer;
    margin-right: 2em;
}

.flyout-navigation {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    opacity: 1;
    background-color: var(--primary-color);
    z-index: 1;
}

.flyout-navigation .nav-list-item {
    padding: .5em 1em;
}

.visible {
    position: fixed;
    top: 12%;
    left: 0;
    visibility: visible;
    opacity: 1;
    transition: opacity .3s linear;
}

.hidden {
    position: absolute;
    top: -999;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s .3s, opacity .3s linear;
}

.link {
    text-decoration: none;
}

.title-container {
    margin-top: 3.5em;
}

.title-text {
    color: black;
    font-size: 3rem;
    text-align: center;
    margin: 0;
    font-weight: bold;
}

hr {
    width: 70%;
    margin: auto;
    color: var(--light-gray-color);
}

.nav-destination {
    visibility: hidden;
}

.section-container {
    width: 80%;
    margin: 3em auto;
}

.section-title {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
    color: var(--primary-color);
    text-align: center;
    padding: 1em 0;
}

.about-me-content {
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 1em;
    text-align: center;
    line-height: 1.5em;
}

.project-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: auto;
    padding: 1.5em 0;
    border: .2rem solid var(--primary-color);
    box-shadow: 3px 3px 9px -3px var(--primary-color);
    border-radius: .5em;
    background-color: var(--off-white);
    margin-bottom: 3em;
}

.project-title {
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
    margin: 0;
    letter-spacing: .03em;
}

.project-media-container {
    width: 100%;
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.project-media {
    border-radius: 1em;
    border: 0px solid var(--black);
    box-shadow: 8px 7px 34px -12px var(--black);
}
.project-image {
    width: 85%;
}

.project-info-modal {
    width: 85%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: var(--modal-background);
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow-y: scroll;
    padding: 1em 0;
}

.project-info-description {
    color: white;
    margin: 0;
    text-align: center;
    letter-spacing: .05em;
    width: 85%;
}

.technologies-used {
    background-color: var(--black);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 360px;
    border-radius: .5em;
    margin: auto;
    padding: .5em;
}

.modal-technologies-used {
    background-color: var(--light-gray-color);
}

.project-info-modal .technologies-used {
    margin: 0;
    width: 85%;
}

.technology-font {
    color: white;
    font-size: 1.2rem;
    padding: .2em;
    margin: 0;
    letter-spacing: .09em;
    display: flex;
    align-items: center;
}

.project-video {
    display: none;
}

.project-links {
    width: 85%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.project-link-button {
    margin: 0 .5em;;
    color: white;
    font-size: 1.5em;
    letter-spacing: .09em;
    background-color: var(--primary-color);
    font-weight: 800;
    padding: .5em;
    border-radius: .2em;
    text-align: center;
}

.hidden-modal {
    position: absolute;
    top: -999;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s .3s, opacity .3s linear;
}

.visible-modal {
    position: absolute;
    top: 0;
    visibility: visible;
    opacity: 1;
    transition: opacity .3s linear;
}

.project-info-container {
    display: none;
}

.project-links-container {
    display: none;
}

.project-info-title {
    color: var(--primary-color);
    font-size: 2rem;
    text-align: center;
    margin: .5em;
    font-weight: 800;
    letter-spacing: .04em;
}

/* ---------------------------------- */
/*       Contact Section              */
/* ---------------------------------- */

.contact-container {
    display: flex;
    justify-content: space-evenly;
}

.contact-link {
    color: var(--light-gray-color);
    font-size: 1.2rem;
    text-align: center;
    flex: 1;
}

.contact-icon {
    color: var(--light-gray-color);
    font-size: 4em;
}

/* -------------------------------------------------- */
/*                  MEDIA QUERIES                     */
/* -------------------------------------------------- */
@media(min-width: 360px) {
    .menu-icon {
        height: 4em;
        width: 4em;
    }
    .modal-demo-container {
        width: 27em;
        height: 27em;
    }
    .project-info-description {
        font-size: 1.5rem;
    }
}

@media(min-width: 400px) {
    .project-info-description,
    .technology-font {
        font-size: 1.5rem;
    }
}

@media(min-width: 500px) {
    .about-me-content,
    .project-info-description,
    .technology-font,
    .project-link-button {
        font-size: 1.7rem;
    }
}

@media(min-width: 620px) {
    .project-image {
        display: none;
    }
    .project-video {
        display: block;
    }
    .project-info-modal {
        display: none;
    }
    .project-info-container {
        display: block;
        width: 480px;
        margin: auto;
    }
    .project-links-container {
        display: block;
        margin-top: 2.5em;
    }
    .project-info-description {
        color: black;
        padding: 0 1em;
        margin: auto;
        width: 95%;
    }
    .project-title {
        font-size: 2.5rem;
    }
}

@media(min-width: 768px) {
    .project-info-container {
        width: 560px;
    }
    .section-container {
        width: 610px;
    }
    .project-video {
        width: 560px;
        height: 315px;
    }
    .header-left {
        width: 60%;
    }
    .header-right {
        width: 40%;
    }
    .link-text {
        margin: .5em;
    }
    .menu-icon-container, 
    .flyout-navigation,
    .mobile-projects-container {
        display: none;
    }
    .header-navigation {
        display: flex;
        align-items: center;
    }
    .header-navigation .nav-list-item {
        font-size: 2em;
    }
    .tablet-projects-container {
        display: block;
    }
    .header-name {
        font-size: 3.5rem;
    }
    .contact-icon {
        font-size: 5em;
    }
}

@media(min-width: 1080px) {
    .tablet-project-links {
        width: 15%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 0;
    }
}

@media(min-width: 1200px) {
    .icon-text {
        font-size: 1.5rem;
    }
    .about-me-content, 
    .tablet-description-text, 
    .tablet-technology, 
    .link-text {
        font-size: 2rem;
    }
    .header-navigation .nav-list-item,
    .tablet-project-title,
    .tablet-project-section-title {
        font-size: 2.5rem;
    }
    .section-title {
        font-size: 3rem;
    }
    .header-name, .title-text {
        font-size: 3.5rem;
    }
    .contact-icon {
        font-size: 7em;
    }
    .section-container {
        width: 1030px;
    }
    .project-content {
        display: flex;
        width: 95%;
        margin: auto;
    }
    .project-video {
        width: 480px;
        height: 270px;;
    }
    .project-info-description {
        text-align: left;
        padding: 0 1em;
        margin: 0;
        font-size: 1.5rem;
    }
    .project-links-container {
        width: 140px;
    }
    .project-links {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .project-link-button {
        width: 100%;
        margin: 0 0 3rem 0;
    }
    .technologies-used {
        width: 75%;
    }
    .technology-font {
        font-size: 1.5rem;
    }
    .project-info-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 1rem;
    }
    .project-info-title {
        height: 10%;
    }
    .project-info-description, .technologies-used {
        height: 40%;
    }

}