header {
    position: relative;
    height: 30rem;
    background-image: linear-gradient(var(--main-header-color-1), var(--main-header-color-2));
    border-bottom-left-radius: 50% 35%;
    border-bottom-right-radius: 50% 35%;
}
  
.header-name {
    margin: 0;
    padding-top: 2em;
    font: 3.2rem "Arial";
    text-align: center;
}

.header-title {
    margin: 0;
    padding-top: 2rem;
    font: 2.2rem "Arial";
    text-align: center;
}

.header-image-container {
    height: 10em;
    width: 10em;
    margin: 2em auto;
    display: flex;
    justify-content: center;
}

.profile-image {
    height: 100%;
    text-align: center;
    border-radius: 50%;
    border: .3em solid var(--main-bg-color);
}