header {
    position: relative;
    height: 30rem;
    background-image: linear-gradient(var(--main-header-color-1), var(--main-header-color-2));
    border-bottom-left-radius: 50% 15%;
    border-bottom-right-radius: 50% 15%;
}
  
.header-name {
    margin: 0;
    padding-top: 1.5em;
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: .09rem;
}

.header-title {
    margin: 0;
    padding-top: 2rem;
    font-size: 2.2rem;
    text-align: center;
    font-weight: bold;
    letter-spacing: .09rem;
}

.header-image-container {
    height: 10em;
    width: 10em;
    margin: 2.5em auto;
    display: flex;
    justify-content: center;
}

.profile-image {
    height: 100%;
    text-align: center;
    border-radius: 50%;
    border: .3em solid var(--main-bg-color);
}