.projects {
    width: 100%;
}

.top-projects {
    width: 100%;
}

.project-tile {
    width: 90%;
    margin: auto;
    margin-top: 1em;
}

.project-tile-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5em 0;
}

.project-title {
    font-size: 1.8rem;
    margin: 0;
}

.project-tile-image {
    margin: auto;
    width: 80%;
    padding-top: 80%;
    background-size: cover;
    border: .3em solid var(--main-header-color-1);
    border-radius: 1em;
    background-repeat: no-repeat;
}

.project-1 {
    background-image: url("../images/catch-the-sun.jpg");
}

.project-2 {
    background-image: url("../images/cookie-monster.jpg");
}

.project-3 {
    background-image: url("../images/memory-game-2.jpg");
}


