.section-container {
    width: 80%;
    margin: 3em auto;
}

.section-title {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
    color: var(--primary-color);
    text-align: center;
    padding: 1em 0;
}

.about-me-content {
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 1em;
    text-align: center;
    line-height: 1.5em;
}

.project-title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: .5em;
}

.project-image-container {
    width: 30em;
    height: 30em;
    margin: auto;
    border-radius: .5em;
    /* border: .5rem solid var(--primary-color); */
}

.project-image {
    height: 100%;
}

.contact-container {
    display: flex;
    justify-content: space-evenly;
}

.contact-link {
    text-decoration: none;
    color: var(--light-gray-color);
    font-size: 1.2rem;
    text-align: center;
    flex: 1;
}

.contact-icon {
    color: var(--light-gray-color);
    font-size: 4em;
}

/* ------ Project Section for Tablet and Above -------- */
.tablet-projects-container {
    display: none;
}

.tablet-project-container {
    padding: 1.5em;
    border: .5rem solid var(--primary-color);
    border-radius: .5rem;
}
.tablet-project-title {
    font-size: 2em;
    margin: 0;
    padding-bottom: .5em;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
}

.tablet-project-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tablet-project-content-left {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tablet-project-image {
    width: 100%;
}

.tablet-project-content-right {
    width: 68%;
    margin-left: 1em;
}

.tablet-project-content-section {
    margin-bottom: 1em;
}

.tablet-project-section-title{
    color: var(--primary-color);
    margin: 0;
    font-size: 1.8rem;
    padding-bottom: .5em;
}

.tablet-description-text {
    margin: 0;
    font-size: 1.5rem;
    padding-left: .5em;
}

.tablet-technologies-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: var(--light-gray-color);
    width: 90%;
    margin: auto;
    border-radius: .5em;
    padding: .5em;
}

.tablet-technology {
    font-size: 1.5rem;
    margin: 0;
    padding: .2em .5em;
    color: white;
    letter-spacing: .05em;
}

.tablet-project-links {
    width: 100%;
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


@media(min-width: 768px) {
    .about-me-content {
        text-align: left;
    }
    .mobile-projects-container {
        display: none;
    }
    .tablet-projects-container {
        display: block;
    }
}