.section {
    width: 85%;
    margin: 2em auto;
}

.section-title {
    height: 3em;
    position: relative;
}

.section-arrow {
    width: 3em;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-size: contain;
    background-repeat: no-repeat;
}

.expand-button {
    background-image: url("../images/expand-arrow.png");
}

.collapse-button {
    background-image: url("../images/collapse-arrow.png");
}

.section-title p {
    text-align: center;
    font-size: 2.2rem;
    font-weight: bold;
    margin: 0;
}

.about-text {
    font-size: 1.7rem;
    text-align: center;
}

.hide {
    overflow: hidden;
    max-height: 0;
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.show {
    overflow: hidden;
    max-height: 60em;
    transition-duration: 0.4s;
    transition-timing-function: ease-in;
}