@import 'header.css';
@import 'sections.css';
@import 'projects.css';

* {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    --primary-color: rgb(7, 160, 206);
    --light-gray-color: rgb(156, 163, 169);
}

html, body {
    margin: 0;
    font-size: 10px;
    height: 100%;
    width: 100%;
}