@import 'header.css';

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 10px;
    font-family: 'Nunito', sans-serif;
    --dominant-color: rgb(41, 100, 229);
    --lightgray-color: rgb(232, 232, 234);
}

* {
    box-sizing: border-box;
}


.main-body-container {
    width: 100%;
    height: 90%;
    background-color: var(--lightgray-color);
}

